<f:layout name="Default"/>

<f:section name="main">
    <h1><f:translate key="node.list.header" /></h1>

    <f:flashMessages/>
    <f:render partial="Node/ButtonsManage" arguments="{class: 'tx_nodedb_manage_top'}"/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="tx-nodedb-nodelist__hostname">
                <f:translate key="tx_nodedb_domain_model_node.hostname"/>
            </th>
            <th class="tx-nodedb-nodelist__comment">
                <f:translate key="tx_nodedb_domain_model_node.comment"/>
            </th>
            <th  class="tx-nodedb-nodelist__ipaddr">
                <f:translate key="tx_nodedb_domain_model_ip4.ipaddr"/>
            </th>
            <th class="tx-nodedb-nodelist__owners">
                <f:translate key="tx_nodedb_domain_model_node.owners"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{nodes}" as="node">
            <tr>
                <td class="tx-nodedb-nodelist__hostname">
                    <f:link.action action="show" arguments="{node : node}"> {node.hostname}</f:link.action>
                </td>
                <td class="tx-nodedb-nodelist__comment">
                    {node.comment->f:format.html()->f:format.crop(maxCharacters: 60, respectHtml: 1)}
                </td>
                <td class="tx-nodedb-nodelist__ipaddr">
                    <f:render partial="Misc/Ips" arguments="{ips: node.ips, settings: settings}"/>
                </td>
                <td  class="tx-nodedb-nodelist__owners">
                    <f:render partial="Misc/Owners" arguments="{owners: node.owners, settings: settings}"/>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>
    <f:render partial="Node/ButtonsManage" arguments="{class: 'tx_nodedb_manage_bottom'}"/>
</f:section>