<f:layout name="Default"/>

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <f:flashMessages/>
    <div class="row">
        <div class="col-md-6 col-lg-8">
            <h1>Single View for Node</h1>
            <f:render partial="Node/Properties" arguments="{node:node}"/>
        </div>
        <div class="col-md-6 col-lg-4">
            <h2>Owners</h2>
            <ul>
                <f:for each="{node.owners}" as="owner" iteration="i">
                    <li>{owner.username}</li>
                </f:for>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>IPv4 Addresses</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Ip Address</th>
                    <th>Netmask</th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{node.ips}" as="ip">
                    <tr>
                        <td>{ip.ipaddr}</td>
                        <td>{ip.netmask}</td>
                    </tr>
                </f:for>
                </tbody>
            </table>
            <f:link.action class="btn btn-primary btn-back" action="list">Back to list</f:link.action>
            <f:link.action class="btn btn-primary btn-new" action="new">New Node</f:link.action>
        </div>
    </div>
</f:section>