
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Ip</h1>

<f:flashMessages />

<table  class="tx_nodedb" >
	<tr>
		<th><f:translate key="tx_nodedb_domain_model_ip.ip4addr" /></th>
		<th><f:translate key="tx_nodedb_domain_model_ip.netmask" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{ips}" as="ip">
		<tr>
			<td><f:link.action action="show" arguments="{ip : ip}"> {ip.ip4addr}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ip : ip}"> {ip.netmask}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{ip : ip}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{ip : ip}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Ip</f:link.action>
</f:section>