<f:layout name="Default" xmlns:f="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"/>

This template displays a EDIT form for the current domain object.

<f:section name="main">
    <h1><f:translate key="edit_ip" arguments="{0: ip.ipaddr}" /></h1>

    <f:flashMessages />
    <f:comment>
        <![CDATA[
        <!--
            <f:render partial="FormErrors" arguments="{object:Ip}"/>
        -->
        ]]>
    </f:comment>

    <f:form action="update" name="ip" object="{ip}">
        <f:render partial="Ip4/FormFields" arguments="{formName: 'ip', ip:ip, userNodes: userNodes}"/>
        <f:form.submit class="btn btn-primary" value="{f:translate(key: 'ip_update')}"/>
    </f:form>
</f:section>