<f:layout name="Default"/>

<f:section name="main">
    <h1>
        <f:translate key="node.ip4.header"/>
    </h1>


    <div class="tx_nodedb_manage">
        <f:render partial="Ip4/ButtonsManage" arguments="{class: 'tx_nodedb_manage_top'}"/>
    </div>

    <f:flashMessages/>

        <table class="tx_nodedb table table-striped">
            <tr>
                <th class="tx-nodedb-iplist__ipaddr">
                    <f:translate key="tx_nodedb_domain_model_ip4.ipaddr"/>
                </th>
                <th class="tx-nodedb-iplist__netmask">
                    <f:translate key="tx_nodedb_domain_model_ip4.netmask"/>
                </th>
                <th class="tx-nodedb-iplist__comment">
                    <f:translate key="tx_nodedb_domain_model_ip4.comment"/>
                </th>
                <th class="tx-nodedb-iplist__node">
                    <f:translate key="tx_nodedb_domain_model_ip4.node"/>
                </th>
                <th class="tx-nodedb-iplist__owners">
                    <f:translate key="tx_nodedb_domain_model_node.owners"/>
                </th>
            </tr>

            <f:for each="{ips}" as="ip">
                <tr>
                    <td class="tx-nodedb-iplist__ipaddr">
                        <f:link.action action="show" arguments="{ip : ip}"> {ip.ipaddr}</f:link.action>
                    </td>
                    <td class="tx-nodedb-iplist__netmask">
                        <f:link.action action="show" arguments="{ip : ip}"> {ip.netmask}</f:link.action>
                    </td>
                    <td class="tx-nodedb-iplist__comment">{ip.comment->f:format.crop(maxCharacters: 50, respectWordBoundaries:1)}</td>
                    <td class="tx-nodedb-iplist__node">
                        <ul>
                            <f:for each="{ip.node}" as="node">
                                <f:link.action pageUid="{settings.pid.node}" arguments="{node: node}" pluginName="node"
                                               controller="Node" action="show">
                                    {node.hostname}
                                </f:link.action>
                            </f:for>
                        </ul>
                    </td>
                    <td class="tx-nodedb-iplist__owners">
                        <f:render partial="Misc/Owners" arguments="{owners: ip.owners, settings: settings}"/>
                    </td>
                </tr>
            </f:for>
        </table>

    <f:render partial="Ip4/ButtonsManage" arguments="{class: 'tx_nodedb_manage_bottom'}"/>
</f:section>