
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for IPv4</h1>

<f:flashMessages />

<table class="tx_nodedb table table-striped" >
	<tr>
		<th><f:translate key="tx_nodedb_domain_model_ip4.ipaddr" /></th>
		<th><f:translate key="tx_nodedb_domain_model_ip4.netmask" /></th>
		<th><f:translate key="tx_nodedb_domain_model_ip4.node" /></th>
		<th><f:translate key="tx_nodedb_domain_model_node.owners" /></th>
		<th></th>
		<th></th>
	</tr>

	<f:for each="{ips}" as="ip">
		<tr>
			<td><f:link.action action="show" arguments="{ip : ip}"> {ip.ipaddr}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ip : ip}"> {ip.netmask}</f:link.action></td>
			<td>
				<ul>
					<f:for each="{ip.node}" as="node">
						<li>{node.hostname}</li>
					</f:for>
				</ul>
			</td>
			<td>
				<ul>
				<f:for each="{ip.owners}" as="owner">
					<li>{owner.username}</li>
				</f:for>
				</ul>
			</td>
			<td><f:link.action action="edit" arguments="{ip : ip}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{ip : ip}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action class="btn btn-primary" action="new">New Ip</f:link.action>
</f:section>