
<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>New Ip</h1>

    <f:debug>{_all}</f:debug>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Ip}" />
<f:form action="create"  name="newIp" object="{newIp}">
<p>
    <strong>Node: {node}</strong>
</p>

<f:render partial="Ip4/FormFields" />
    <f:form.hidden property="node" value="{node}" />
	<f:form.submit class="btn btn-primary btn-new" value="Create new" />
</f:form>
</f:section>