<f:layout name="Default"/>

<f:section name="main">
    <h1>
        <f:translate key="header_new_ip"/>
    </h1>

    <f:flashMessages/>

    <f:comment>
        <![CDATA[
        <!--
        Rendered per field now but keep for debugging purposes
        <f:render partial="FormErrors" arguments="{object:Ip}"/>

        -->
        ]]>
    </f:comment>

    <f:form action="create" name="newIp" object="{newIp}">
        <f:render partial="Ip4/FormFields" arguments="{formName: 'newIp', node: node, userNodes: userNodes, returnToUrl: returnToUrl}"/>
        <f:form.submit class="btn btn-primary btn-new" value="{f:translate(key: 'btn.createIP')}"/>
    </f:form>
</f:section>